;[include]
    ;path = ~/.gitconfig_user # put your [user] there

; Default identity. Kept above the includeIf blocks on purpose:
; later values win, so the per-directory includes below override it.
[user]
	name = Anton Daneyko
	email = 1176545+mezhaka@users.noreply.github.com

[includeIf "gitdir:~/t/"]
    path = ~/t/.gitconfig_user

[includeIf "gitdir:~/fun/"]
    path = ~/fun/.gitconfig_user

[includeIf "gitdir:~/dotfiles/"]
    path = ~/fun/.gitconfig_user

[core]
	editor = vim
	excludesfile = ~/.gitignore
    autocrlf = input
	pager = less -F -X  # page only if does not fit on screen

;[diff]
    ;external = git_diff_wrapper
	;tool = vimdiff

[push]
	default = simple
	autoSetupRemote = true

[diff]
	tool = meld

[pretty]
    ol = %Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset

[alias]
    st = status --short --branch --untracked-files
    ci = commit
    br = branch
    co = checkout
    d = diff
    l = log --graph --pretty=ol --date=relative -20
    lg = log --graph --pretty=ol
    lgh = "!sh -c 'git log --graph --pretty=ol | head'"
    who = shortlog -s --
    h = help
    fix = commit --amend --no-edit
    med = commit --amend --only
    whatis = show -s --pretty=ol --date=relative
    aliases = !git config --get-regexp 'alias.*' | colrm 1 6 | sed 's/[ ]/ = /'
    ff = merge --ff-only @{upstream}
    m = merge --no-ff
    rh = reset --hard
    index = diff --staged
    rb = rebase
    recent = for-each-ref --sort=-committerdate refs/heads/ \
        --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(color:red)%(objectname:short)%(color:reset) - %(contents:subject) - %(authorname) (%(color:green)%(committerdate:relative)%(color:reset))'
    msg = log --format=%B -n 1
    find-merge = "!sh -c 'commit=$0 && branch=${1:-HEAD} && (git rev-list $commit..$branch --ancestry-path | cat -n; git rev-list $commit..$branch --first-parent | cat -n) | sort -k2 -s | uniq -f1 -d | sort -n | tail -1 | cut -f2'"
    show-merge = "!sh -c 'merge=$(git find-merge $0 $1) && [ -n \"$merge\" ] && git show $merge'"

[color]
    ui = auto
    status = auto
    branch = auto
    diff = auto

[merge]
    ;tool = meld
    ;tool = multiple_meld
    tool = vimdiff
	conflictstyle = diff3

;[mergetool "multiple_meld"]
    ;cmd = $HOME/bin/merge_with_multiple_melds.sh $BASE $LOCAL $REMOTE $MERGED

[mergetool "vimdiff"]
    cmd = vim -f -d -c \"wincmd J\" \"$MERGED\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"

;[mergetool "gvimdiff3"]
;    cmd = gvim -f -d -c \"wincmd J\" \"$MERGED\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"

[rerere]
	enabled = true


; I don't want to store my email in the git repo, so each time I need to set up
; from dotfiles, I need to create the .gituser file
[include]
    path = ~/.gituser

[pull]
	ff = only
[pager]
	branch = false
[commit]
	template = ~/.gitmessage.txt
[init]
	defaultBranch = main
[credential]
	helper = osxkeychain
[rebase]
	autoStash = true
